<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AppThre</display-name>
  <context-param>
    <param-name>username</param-name>
    <param-value>raghu</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>ram</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.dss.FirstServlet</servlet-class>
    <init-param>
      <param-name>Shirt</param-name>
      <param-value>$100</param-value>
    </init-param>
    <init-param>
      <param-name>Pant</param-name>
      <param-value>$200</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecondServlet</display-name>
    <servlet-name>SecondServlet</servlet-name>
    <servlet-class>com.dss.SecondServlet</servlet-class>
    <init-param>
      <param-name>Shoe</param-name>
      <param-value>$300</param-value>
    </init-param>
    <init-param>
      <param-name>Sandeles</param-name>
      <param-value>$400</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecondServlet</servlet-name>
    <url-pattern>/SecondServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThirdServlet</display-name>
    <servlet-name>ThirdServlet</servlet-name>
    <servlet-class>com.dss.ThirdServlet</servlet-class>
    <init-param>
    <param-name>iPhone</param-name>
    <param-value>$500</param-value>
    </init-param>
    <init-param>
    <param-name>Samsung</param-name>
    <param-value>$800</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThirdServlet</servlet-name>
    <url-pattern>/ThirdServlet</url-pattern>
  </servlet-mapping>
</web-app>